.center	{
	
	margin:auto;
	padding:auto;
	width:300px;
	height:667px;
	
}
.dropdown:hover>.dropdown-menu {
  display: block;
}
#sticky-footer {
  flex-shrink: none;
}
body	{
background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.navbar {
  min-height: 80px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}
.push	{
	margin-bottom:134px;
}

.font-weight-normal	{
	font-size:32px;
}